@model Semestralka.Models.Order

@using Microsoft.AspNetCore.Identity
@using Semestralka.Areas.Identity.Data

@inject SignInManager<SemestralkaUser> SignInManager
@inject UserManager<SemestralkaUser> UserManager

<script defer src="~/js/script.js"></script>
<div id="error"></div>
<form method="post" asp-action="Create" id="form">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Pridaj Kategoriu</h2>
            <div class="col-6">
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary">
                    Back
                </a>

            </div>
        </div>
        <div class="form-group">
            <input asp-for="UserEmail" hidden value="@SignInManager.Context.User.Identity.Name">
            <input asp-for="State" hidden value="New">
        </div>   
        <div class="form-group">
            <label asp-for="Description" for="formGroupExampleInput2"></label>
            <input id="desc" asp-for="Description" class="form-control" placeholder="Enter order">
        </div>
        <div class="col">
            <input type="submit" class="btn btn-info w-100" value="Create" />
        </div>


    </div>
</form>


